<ion-content class="primary">
  <div class="ion-text-center ion-margin-top top-section">
    <img src="assets/brand-logo-2.svg" width="40%" alt="brand-logo" />
    <!-- <ion-img src="assets/brand-logo-2.svg" alt="brand-logo" ></ion-img> -->
  </div>
  <div class="box-border-rounded ion-padding"> 
    <ion-text><h2 class="fs-24-bold">Sign Up</h2></ion-text>
    <form>
      <ion-grid class="ion-no-padding">
        <ion-row >
          <ion-col size="6" class=" ion-padding-end"> 
            <ion-item class="ion-no-padding input-pry">
              <ion-label class="label"  position="stacked">First Name</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6" >
            <ion-item class="ion-no-padding input-pry">
              <ion-label class="label"  position="stacked">Last Name</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding input-pry">
              <ion-label class="label"  position="stacked">Phone Number</ion-label>
              <ion-input type="tel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding input-pry">
              <ion-label class="label"  position="stacked">Email Address</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding input-pry ion-align-items-center">
              <ion-label class="label"  position="stacked">Password</ion-label>
              <ion-input type="password"></ion-input>
              <ion-icon slot="end" item-end name="eye" class="passwordIcon" ></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding input-pry">
              <ion-label class="label"  position="stacked">Referral Code (Optional)</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-button class="btn-pry" expand="block">Sign Up</ion-button>
          </ion-col>
          <ion-col size="12" class="mt-1">
            <ion-text class=" ion-text-center ion-margin-top">
              <h6 class="fs-14">
                <span class="text-muted">Already have an account?</span>
                <span class="text-link"><a href="">Sign In</a></span>
              </h6>
            </ion-text>
          </ion-col>
          
        </ion-row>
        </ion-grid>

    </form>
  </div>
</ion-content>
